<!DOCTYPE html>
<html>
    <head>
        <title>Minh's Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="">Minh's Blog</a></h1>
        </header>
        <article>
            <time>published:07.19.2024, 12:12</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam placeat laudantium corrupti libero error, exercitationem, officia consequuntur magni iure facilis vero totam hic quae fugiat earum perspiciatis sint aut delectus!</p>
        </article>
        <article>
            <time>published:07.19.2024, 12:12</time>
            <h2><a href="">My Second post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus facilis labore perspiciat.</p>
        </article>
       
    </body>
</html>